opencv/
platforms/
*.pdb
*.lnk
*.obj
*.lib
*.exp
*.ilk
opencv-*.exe
opencv_world*.dll
opencv_videoio*.dll
opencv_annotation.exe
opencv_interactive-calibration.exe
opencv_model_diagnostics.exe
opencv_version*.exe
opencv_visualisation.exe
VC_redist*.exe
SanDiskSecureAccess*
*.zip
*.7z
*.rar
*.tmp
Thumbs.db
Desktop.ini
